<h1>New Question</h1>

<%= form_for @question, url:{ controller: 'questions', action: "create"} do |f| %>

  <%= f.label(:body) %>
  <%= f.text_field :body %>

  <%= f.hidden_field :test_id, value: params[:test_id] %>

  <%= f.submit "Create" %>
<% end %>
