<h2><%= t('.header', title: @test_passage.test.title ) %></h2>
<p><%= @test_passage.success_rate %> % <%= t('.rate') %> </p>
<% if @test_passage.passed? %>
  <p class="btn btn-success">
    <%= t('.success', rate: @test_passage.success_rate) %>
  </p>
<% else %>
  <p class="btn btn-danger">
    <%= t('.failure', rate: @test_passage.success_rate) %>
  </p>
<% end %>

<p><%= link_to t('back'), tests_path %></p>
