<h2>The <%= @test_passage.test.title %> Test was Completed!</h2>
<p><%= @test_passage.success_rate %> % of the test has been completed!</p>
<% if @test_passage.passed? %>
  <p class="btn btn-success">
    You've scored <%= @test_passage.success_rate %> and successfully passed the test!
  </p>
<% else %>
  <p class="btn btn-danger">
    You've scored <%= @test_passage.success_rate %> and didnt' pass the test!
  </p>
<% end %>

<p><%= link_to 'Back', tests_path %></p>
