<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p id="notice"><%= notice %></p>

      <p>
        <%= @answer.question.body %>
      </p>

      <p>
        <b>Answer:</b>
        <%= @answer.body %>
      </p>

      <p>
        <b>Correct:</b>
        <%= @answer.correct %>
      </p>


      <%= link_to 'Edit', edit_admin_answer_path(@answer) %> |
      <%= link_to 'Back', admin_question_path(@answer.question) %>
    </div>
  </div>
</div>
