<div class="container py-5">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h3 class="mb-4"><%= @question.test.title %> Question</h3>
        <p><%= @question.body %></p>
      <h3>Answers</h3>
      <ol>
        <%= render @question.answers %>
      </ol>
      <%= link_to 'New Answer', new_admin_question_answer_path(@question), :class => "btn btn-success"%>
      <div class="mt-4">
        <%= link_to 'Edit', edit_admin_test_path(@question), :class => "btn btn-primary mr-3" %>
        <%= link_to 'Back', admin_test_path(@question.test), :class => "btn btn-secondary"%>
      </div>
    </div>
  </div>
</div>
