<tr>
  <td>
  <%= test.title %>
  <%= content_tag :span, test.title, class: "test-title", data: { testid: test.id } %>
  <%= render "form_inline", test: test == @test ? @test : test %>
  </td>
  <td><%= test.level %></td>
  <td><%=  test.author.first_name unless test.author.nil? %></td>
  <td><%= link_to 'Show', admin_test_path(test) %></td>
  <td>
    <%= link_to t('edit'),
                edit_admin_test_path(test),
                :class => "btn btn-primary form-inline-link",
                data: { testid: test.id } %>
    <%= link_to t('delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger" %>
  </td>
</tr>
