<div class="container py-5">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <p><strong>Title: </strong><%= @test.title %></p>
       <p><strong>Level: </strong><%= @test.level %></p>

      <h4 class="mt-4">Questions</h4>
      <table class="table">
        <tr>
      <% @test.questions.each do |q| %>
            <td><a href="<%= question_url(q) %>"><%= q.body %></a></td>
            <td><%= link_to 'Edit', edit_question_path(q), :class => "" %></td>
            <td><%= link_to 'Delete', question_path(q), method: :delete, :class => "" %></td>
          </td>
      <% end %>
        </tr>
      </table>
      <%= link_to 'New Question', new_test_question_path(@test), :class => "btn btn-secondary" %>
      <div class="d-flex justify-content-between my-3">
        <%= link_to 'Back to Tests', tests_path, :class => "btn btn-secondary" %>
        <%= link_to 'Edit', edit_test_path(@test), :class => "btn btn-primary" %>

      </div>
    </div>
  </div>
</div>
